<div class="flex justify-center items-center h-dvh bg-base-200 w-full">
  <a href="https://github.com/x-kem0/matrix-portal" class="absolute right-4 bottom-4">
  <svg xmlns="http://www.w3.org/2000/svg" width="22pt" height="22pt" viewBox="0 0 78 78"><path fill="#896e61" transform="translate(10 10) rotate(-45 29 29)" d="M5,58c-2.76142,0 -5,-2.23858 -5,-5v-48c0,-2.76142 2.23858,-5 5,-5h33v12.54404c-2.06553,0.94801 -3.5,3.03446 -3.5,5.45596c0,0.73514 0.13221,1.43941 0.37415,2.09031l-15.28384,15.28384c-0.6509,-0.24194 -1.35517,-0.37415 -2.09031,-0.37415c-3.31371,0 -6,2.68629 -6,6c0,3.31371 2.68629,6 6,6c3.31371,0 6,-2.68629 6,-6c0,-0.73514 -0.13221,-1.43941 -0.37415,-2.09031l14.87415,-14.87415l0,11.50851c-2.06553,0.94801 -3.5,3.03446 -3.5,5.45596c0,3.31371 2.68629,6 6,6c3.31371,0 6,-2.68629 6,-6c0,-2.42149 -1.43447,-4.50795 -3.5,-5.45596l0,-12.08808c2.06553,-0.94801 3.5,-3.03446 3.5,-5.45596c0,-2.42149 -1.43447,-4.50795 -3.5,-5.45596l0,-12.54404h10c2.76142,0 5,2.23858 5,5v48c0,2.76142 -2.23858,5 -5,5z"/></svg>
  </a>
  <div class="flex flex-col min-w-[75%] xl:min-w-[35%]">
    <%= if @banner_url do %>
      <div
        class="object-cover h-full w-full w-10 aspect-[2.5] -mb-4 rounded-t-lg"
        style={"background: url(\"#{@banner_url}\"); background-position: center; background-size: cover;"}
      />
    <% end %>
    <div class="bg-base-300 items-center flex flex-col gap-1 p-5 rounded-lg">
      <div class="h-16 w-16 rounded-full bg-green-700 overflow-hidden">
        <img class="object-cover" src={@avatar_url} />
      </div>
      <div class="select-none">
        Hello, <span class="font-bold">{@display_name || @user_name}</span>!
      </div>
      <%= if @err do %>
        <div role="alert" class="alert mt-2 alert-warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
            />
          </svg>
          <span>{@err}</span>
        </div>
      <% end %>
      <form class="form w-full" method="POST">
        <input type="hidden" name="_csrf_token" value={Phoenix.Controller.get_csrf_token()} />
        <fieldset class="fieldset">
          <label class="label">Username</label>
          <input
            class="input w-full"
            type="input"
            value={"@#{@user_name}:#{Cfg.get(:matrix_delegate)}"}
            disabled
            autocomplete="off"
          />
          <label class="label">Display Name</label>
          <input
            name="display_name"
            class="input w-full"
            type="input"
            value={@display_name}
            autocomplete="off"
          />
          <label class="label">Password</label>
          <input
            name="password"
            class="input w-full"
            type="password"
            placeholder="Password"
            autocomplete="off"
          />

          <label class="label">Password Confirmation</label>
          <input
            name="password_conf"
            class="input w-full"
            type="password"
            placeholder="Password Confirmation"
            autocomplete="off"
          />

          <button class="btn btn-primary mt-4">Create Matrix Account</button>
          <a href="/logout" class="btn btn-neutral mt-4">Sign Out</a>
        </fieldset>
      </form>
    </div>
  </div>
</div>
