<div class="flex justify-center items-center h-dvh bg-base-200 w-full">
  <a href="https://github.com/x-kem0/matrix-portal" class="absolute right-4 bottom-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="22pt" height="22pt" viewBox="0 0 78 78">
      <path
        fill="#896e61"
        transform="translate(10 10) rotate(-45 29 29)"
        d="M5,58c-2.76142,0 -5,-2.23858 -5,-5v-48c0,-2.76142 2.23858,-5 5,-5h33v12.54404c-2.06553,0.94801 -3.5,3.03446 -3.5,5.45596c0,0.73514 0.13221,1.43941 0.37415,2.09031l-15.28384,15.28384c-0.6509,-0.24194 -1.35517,-0.37415 -2.09031,-0.37415c-3.31371,0 -6,2.68629 -6,6c0,3.31371 2.68629,6 6,6c3.31371,0 6,-2.68629 6,-6c0,-0.73514 -0.13221,-1.43941 -0.37415,-2.09031l14.87415,-14.87415l0,11.50851c-2.06553,0.94801 -3.5,3.03446 -3.5,5.45596c0,3.31371 2.68629,6 6,6c3.31371,0 6,-2.68629 6,-6c0,-2.42149 -1.43447,-4.50795 -3.5,-5.45596l0,-12.08808c2.06553,-0.94801 3.5,-3.03446 3.5,-5.45596c0,-2.42149 -1.43447,-4.50795 -3.5,-5.45596l0,-12.54404h10c2.76142,0 5,2.23858 5,5v48c0,2.76142 -2.23858,5 -5,5z"
      />
    </svg>
  </a>
  <div class="flex flex-col min-w-[75%] xl:min-w-[35%]">
    <%= if @banner_url do %>
      <div
        class="object-cover h-full w-full w-10 aspect-[2.5] -mb-4 rounded-t-lg"
        style={"background: url(\"#{@banner_url}\"); background-position: center; background-size: cover;"}
      />
    <% end %>
    <div class="bg-base-300 items-center flex flex-col gap-1 p-5 rounded-lg">
      <div class="h-16 w-16 rounded-full bg-green-700 overflow-hidden">
        <img class="object-cover" src={@avatar_url} />
      </div>
      <div class="select-none">
        Welcome, <span class="font-bold">{@display_name || @user_name}</span>!
      </div>
      <div class="mt-4">
        Your matrix profile's password has been updated:
      </div>
      <div class="font-mono bg-base-100 p-2 rounded-md">
        {"@#{@user_name}:#{Cfg.get(:matrix_delegate)}"}
      </div>
      <a
        class="btn btn-primary mt-8"
        href={"#{Cfg.get(:matrix_client)}/login/#{Cfg.get(:matrix_delegate)}?username=#{@user_name}"}
      >
        Continue to Matrix
      </a>
    </div>
  </div>
</div>
